@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-navy-900 font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-navy-900;
  }
}
